// Flex Center Mixin
@mixin flex {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(auto, minmax(1fr, 200px));
    grid-gap: 5px;
}