@import 'config';
@import 'utilities';
@import 'header';
@import 'responsive';
@import 'control';



body{
    background: $bg-color;
    font-family: $font-stack;
    font-size: $font-size;
}

.container{
    @include media;
    @include flex;
    background-color: $tertiary-color;
    color: $primary-color;
    width: 90%;
    height: 80vh;
    margin: 2rem auto;
    padding:  2rem 2rem 0 2rem;
}

